body {
    background-color:goldenrod;
    background-image: url("painted.png"); 
    background-repeat: no-repeat;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
}
h1 {
    color:blue;
    text-align:center;
    font-size:xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-weight:bold;
    text-transform:uppercase;
} 
p {
    color:purple;
    text-align:center;
    font-size:larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-weight:normal;
    text-transform:unset;
}
img {
    border-radius: 10%;
}
.Profiledata{
    color:chartreuse;
}
#profiledata{
    background-color:cyan;
    color:blueviolet;
}

div{
    text-align: center;
    content: inherit;
    width: 600px;
    padding: 17px;
    border: 4px solid blueviolet;
    margin: 20px;
    background-color: chartreuse;
    border-radius: 20px;
    
}


